<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [32]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [33]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [34]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [35]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [36]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [57]:
# your code goes here
print(f'There are', df.duplicated().sum(), 'duplicate rows in the dataframe.')
print(f'There are', df.duplicated('Respondent').sum(), 'duplicate Respondent in the dataframe.')

There are 0 duplicate rows in the dataframe.
There are 0 duplicate Respondent in the dataframe.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [38]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [56]:
# your code goes here
print(f'There are', df.duplicated().sum(), 'duplicate rows in the dataframe.')
print(f'There are', df.duplicated('Respondent').sum(), 'duplicate Respondent in the dataframe.')

There are 0 duplicate rows in the dataframe.
There are 0 duplicate Respondent in the dataframe.

## Finding Missing values

Find the missing values for all columns.

In [40]:
# your code goes here
with pd.option_context('display.max_columns', None):
    print(df.isnull().sum())

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [44]:
# your code goes here
# List of columns to analyze
columns = ['WorkLoc', 'EdLevel', 'Country']
for column in columns:
    print(f'There are {df[column].isnull().sum()} missing values in the column {column}.')

There are 32 missing values in the column WorkLoc.
There are 112 missing values in the column EdLevel.
There are 0 missing values in the column Country.

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [30]:
# your code goes here
# List of columns to analyze
columns = ['WorkLoc', 'Employment', 'UndergradMajor']

# Loop through each column and print the unique counts and value counts
for column in columns:
    print(f'There are {df[column].nunique()} unique {column} in the survey:')
    print(f'\n{column: <35}value count')
    print(f'{"-" * len(column): <35}{"-" * 11}')
    print(df[column].value_counts())
    print('\n')

There are 3 unique WorkLoc in the survey:

WorkLoc                            value count
-------                            -----------
WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64


There are 2 unique Employment in the survey:

Employment                         value count
----------                         -----------
Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64


There are 12 unique UndergradMajor in the survey:

UndergradMajor                     value count
--------------                     -----------
UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
#make a note of the majority value here, for future reference
print(df['ConvertedComp'].mean())
print(df['ConvertedComp'].median())

131334.0025163094
57744.0

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [55]:
# your code goes here
import numpy as np

workloc_highest = 'Office'

missing_data = df.isnull()


print(f'\nValue counts for missing data in WorkLoc:\n')
print( missing_data['WorkLoc'].value_counts())


print(f'\nHere are the first 10 rows missing values for WorkLoc:')
print(df[missing_data['WorkLoc']][['Respondent','WorkLoc']].head(10))

df['WorkLoc'].replace(np.nan, workloc_highest, inplace=True)

Value counts for missing data in WorkLoc:

WorkLoc
False    11398
Name: count, dtype: int64

Here are the first 10 rows missing values for WorkLoc:
Empty DataFrame
Columns: [Respondent, WorkLoc]
Index: []

<ipython-input-55-5f21014d1d9c>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].replace(np.nan, workloc_highest, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [51]:
# your code goes here
print(f'\nNew value counts for missing data in WorkLoc:\n')
print(df['WorkLoc'].isnull().value_counts())

New value counts for missing data in WorkLoc:

WorkLoc
False    11398
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [24]:
print(df['CompFreq'].nunique())

3

In [22]:
# your code goes here
print(df['CompFreq'].value_counts())

CompFreq
Yearly     6163
Monthly    4846
Weekly      337
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [49]:
# your code goes here
df['NormalizedAnnualCompensation'] = None
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1  * df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52 * df['CompTotal']


df[['CompTotal','CompFreq','NormalizedAnnualCompensation']].head(20)

df['NormalizedAnnualCompensation'].median()
print(f'Median of Normalized Annual Compensation: {df['NormalizedAnnualCompensation'].median()}')

Median of Normalized Annual Compensation: 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>