<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [21]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [22]:
# Your code here
!pip install html5lib
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)

Download the webpage at the url

In [23]:
#your code goes here
data = requests.get(url).text

Create a soup object

In [24]:
#your code goes here
soup = BeautifulSoup(data, 'html5lib')

Scrape the `Language name` and `annual average salary`.

In [25]:
#your code goes here

# Initialize DataFrame
df = pd.DataFrame(columns=['Language Name', 'Average Salary'])

# Scrape the data
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    language = col[1].text
    salary = col[3].text.strip()  # Remove any leading/trailing whitespace

    # Append the row to the DataFrame
    df = df.append({'Language Name': language, 'Average Salary': salary}, ignore_index=True)

# Drop the first row if it contains header information (optional based on your data)
df.drop(index=df.index[0], axis=0, inplace=True)

In [26]:
# Sort the DataFrame by 'Average Salary'
df_sorted = df.sort_values(by='Average Salary', ascending=False)
df_sorted

   Language Name Average Salary
10            Go        $94,082
3              R        $92,037
7             C#        $88,726
9            SQL        $84,793
8            PHP        $84,727
5          Swift       $130,801
1         Python       $114,383
6            C++       $113,865
4     Javascript       $110,981
2           Java       $101,013

In [27]:
# Clean the 'Average Salary' column
df['Average Salary'] = df['Average Salary'].replace('[\$,]', '', regex=True).astype(float)

In [28]:
# Plot the data
plt.figure(figsize=(12, 8))
sns.barplot(x='Average Salary', y='Language Name', data=df_sorted, palette='viridis')
plt.title('Job Postings by Language - Ordered by Salary')
plt.xlabel('Salary')
plt.ylabel('Programming Language')
plt.show()

ValueError: Neither the `x` nor `y` variable appears to be numeric.

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
# your code goes here
df.to_csv('popular-languages.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).